<template>
  <div class="pb-20">
    <p class="text-[21px] text-[#4A5568] leading-[25px] latoMedium w-[280px] text-center mx-auto">
      Drei einfache Schritte zur Vermittlung neuer Mitarbeiter
    </p>
    <div class="pt-6">
      <img class="ml-[101px] z-20 relative" src="@/assets/images/section-image-1.svg" alt="">
      <img class="mt-[-160px] z-10 relative" src="@/assets/images/small-circle.svg" alt="background">
      <div class="mt-[-240px] z-20 relative pl-1.5 flex">
        <span class="text-[#718096] text-[130px] latoMedium">
          1.
        </span>
        <span class="text-[#718096] text-[16px] self-center pt-14 ml-5">
          Erstellen dein Unternehmensprofil
        </span>
      </div>
      <div class="section-2-bg -mt-14 relative z-0">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,96L80,122.7C160,149,320,203,480,208C640,213,800,171,960,154.7C1120,139,1280,149,1360,154.7L1440,160L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        <div class="pl-5 -mt-8 flex">
          <span class="text-[#718096] text-[130px] latoMedium ml-3">
            2.
          </span>
          <span class="text-[#718096] text-[16px] self-center pt-14 ml-5">
            Erhalte Vermittlungs- angebot von Arbeitgeber
          </span>
        </div>
        <img class="-mt-8 ml-[80px] pb-16" src="@/assets/images/section-3-image-2.svg" alt="">
      </div>
      <svg class="-mt-20 relative" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,202.7C640,203,800,245,960,261.3C1120,277,1280,267,1360,261.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
      <div>
        <img class="-mt-16 relative" src="@/assets/images/big-circle.svg" alt="">
        <div class="mt-[-350px] z-10 relative ml-14 flex">
          <p class="text-[#718096] text-[130px] latoMedium">
            3.
          </p>
          <p class="text-[#718096] text-[16px] self-center ml-4 pt-6">
            Vermittlung nach Provision oder Stundenlohn
          </p>
        </div>
        <img class="mt-[-10px] ml-[55px] pb-16 relative z-10" src="@/assets/images/section-3-image-3.svg" alt="">
      </div>
    </div>
  </div>
</template>
