<template>
  <div>
    <!-- Top Section -->
    <div class="sticky top-0 z-50">
      <div class="topbar h-[5px]" />
      <div class="h-[67px] rounded-b-[12px] box-shadow-top bg-white flex justify-end">
        <p class="text-[14px] text-[#319795] hover:text-[#38B2AC] hover:border-b border-[#319795] mt-6 mx-4 mb-6">
          Login
        </p>
      </div>
    </div>
    <div class="top-section-bg2-">
      <h1 class="text-[42px] font-medium text-center latoMedium w-[320px] leading-[50px] tracking-[1.26px] mx-auto pt-[20px] -mt-2 text-[#2D3748]">
        Deine Job website
      </h1>
      <img class="w-[419px] h-[405px] object-none z-0 relative" src="@/assets/images/undraw_agreement_aajr.svg" alt="agreement">
      <svg class="-mt-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,288L80,261.3C160,235,320,181,480,176C640,171,800,213,960,202.7C1120,192,1280,128,1360,96L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
    </div>
    <!-- Page Navigation Section -->
    <div ref="tabs" :class="tab === 'tab-1' ? 'ml-[17px]' : tab === 'tab-3' ? 'mr-[17px]':''" class="flex flex-nowrap py-[41px] overflow-hidden">
      <div :class="tab === 'tab-1' ? 'text-white bg-[#81E6D9]':'text-[#319795] hover:bg-[#E6FFFA] border border-[#CBD5E0]'" class="rounded-l-[12px] py-2 min-w-[160px] latoMedium font-semibold text-center" @click="tab = 'tab-1'">
        Arbeitnehmer
      </div>
      <div :class="tab === 'tab-2' ? 'text-white bg-[#81E6D9]':'text-[#319795] hover:bg-[#E6FFFA] border border-[#CBD5E0]'" class="py-2 min-w-[160px] latoMedium font-semibold text-center" @click="tab = 'tab-2'">
        Arbeitgeber
      </div>
      <div :class="tab === 'tab-3' ? 'text-white bg-[#81E6D9]':'text-[#319795] hover:bg-[#E6FFFA] border border-[#CBD5E0]'" class="py-2 min-w-[160px] rounded-r-[12px] latoMedium font-semibold text-center" @click="tab = 'tab-3'">
        Temporärbüro
      </div>
    </div>
    <tab-one v-if="tab === 'tab-1'" />
    <tab-two v-if="tab === 'tab-2'" />
    <tab-three v-if="tab === 'tab-3'" />
    <div class="rounded-t-[12px] box-shadow-bottom bg-white -mt-10 z-50 px-[17px] py-6 sticky bottom-0">
      <div class="cta-bg rounded-[12px] text-center py-2">
        <span class="lato text-[14px] text-white">
          Kostenlos Registrieren
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  data () {
    return ({
      tab: 'tab-1',
      screenWidth: null
    })
  },
  watch: {
    tab (val) {
      this.scrollTab(val)
    }
  },
  mounted () {
    this.screenWidth = window.screen.width
  },
  methods: {
    scrollTab (tab) {
      if (tab === 'tab-1')
      this.$refs.tabs.scrollLeft = 0
      else if (tab === 'tab-2')
      this.$refs.tabs.scrollLeft = 160 - (this.screenWidth - 160)/2
      else
      this.$refs.tabs.scrollLeft = this.screenWidth/2 + 17
    }
  }
}
</script>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  .topbar {
    background: transparent linear-gradient(91deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .top-section-bg2- {
    background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .latoMedium {
    font-family: 'Lato', sans-serif;
  }
  .box-shadow-top {
    box-shadow: 0px 3px 6px #00000029;
  }
  .box-shadow-bottom {
    box-shadow: 0px -1px 3px #00000033;
  }
  .cta-bg {
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  }
  .section-2-bg {
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
  }
</style>